<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Geeps - Dashboard</title>

    <link href="../css/bootstrap.css" rel="stylesheet">

</head>
<body>
    Empresa Email:
    {{#if email}}
        {{email}}
    {{/if}}
    <br/>
    <a href="logout" > LOGOUT</a>
    <br />

    <div class="col-lg-4 col-lg-offset-1">
    	<h2><a href="pedido" > Registrar Pedido </a></h2>
    </div>

</body>
</html>