<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Geeps</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Geeps</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">

            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="/empresa/perfil"><i class="fa fa-user fa-fw"></i> Perfil</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Configurações</a>
                    </li>
                    <li><a href="/empresa/pagamento"><i class="fa fa-money fa-fw"></i> Pagamento</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/auth/login"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="/"><i class="fa fa-home fa-fw"></i> Início</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-shopping-cart fa-fw"></i> Pedidos
                            <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/empresa/pedido">Cadastrar Pedido</a>
                            </li>
                            <li>
                                <a href="/empresa/pedidos">Pedidos Em Andamento</a>
                            </li>
                            <li>
                                <a href="/empresa/pedidos_encerrados">Pedidos Encerrados</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/empresa/relatorios"><i class="fa fa-bar-chart-o fa-fw"></i> Relatórios
                        </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-truck fa-fw"></i> Entregadores
                            <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/empresa/entregador">Cadastrar Entregador</a>
                            </li>
                            <li>
                                <a href="/empresa/entregadores">Visualizar</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <img src="{{empresa.imgPath}}" style="width: 100%;">
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Pagamento</h1>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            {{#if message}}
                <div class="alert fade in alert-{type}">
                    <button class="close" data-dismiss="alert">&times;</button>
                    {desc}
                </div>
            {{/if}}
                <div style="height: 230px;margin-top: 20px;">
        <div class="row" style="text-align: center;">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption" style="text-align: center;">
                        <h3>Básico - R$ 75,00</h3>
                        <ul style="list-style-type:disc; text-align: left;">
                            <li>Relatórios</li>
                            <li>Acompanhamento Em Tempo Real</li>
                            <li>Cadastro de Pedidos</li>
                        </ul>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">Button</a>
                            <a href="#" class="btn btn-default" role="button">Button</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption" style="text-align: center;">
                        <h3>Normal - R$ 125,00</h3>
                        <ul style="list-style-type:disc; text-align: left;">
                            <li>Relatórios</li>
                            <li>Acompanhamento Em Tempo Real</li>
                            <li>Cadastro de Pedidos</li>
                        </ul>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">Button</a>
                            <a href="#" class="btn btn-default" role="button">Button</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption" style="text-align: center;">
                        <h3>Avançado - R$ 150,00</h3>
                        <ul style="list-style-type:disc; text-align: left;">
                            <li>Relatórios</li>
                            <li>Acompanhamento Em Tempo Real</li>
                            <li>Cadastro de Pedidos</li>
                        </ul>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">Button</a>
                            <a href="#" class="btn btn-default" role="button">Button</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="border: 1px solid rgba(0,0,0,0.3);width: 80%;margin: 0 auto;">
    </div>
    <div style="width: 50%;margin-left: 25%;text-align: center;">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="text-align: center;">
            <input type="hidden" name="cmd" value="_s-xclick">
            <table style="margin: 20px auto;">
                <tr>
                    <td>
                        <input type="hidden" name="on0" value="Planos de Serviço">
                            Assine um de nosso planos de serviço
                    </td>
                </tr>
                <tr><td>
                    <select name="os0">
                        <option value="Básico">Básico : R$75,00 BRL - mensalmente</option>
                        <option value="Normal">Normal : R$125,00 BRL - mensalmente</option>
                        <option value="Avançado">Avançado : R$150,00 BRL - mensalmente</option>
                    </select>
                </td></tr>
            </table>
            <input type="hidden" name="currency_code" value="BRL">
            <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIIaQYJKoZIhvcNAQcEoIIIWjCCCFYCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCpBLo1v5WiXT2LwmAiXLDlTxF/bGcXBFqelPs1Ug2M8fix77F2kZzx7jcBtuAnVLEMtv+JyMSLug9EPMD9Juca/X3l/6V4iFvrfOzOCEi02HKsYmT8cCE5UV1jpt0i4bOvjwOLtdc78QdXNmhw+SgAUVttTS6T/oMK8iWz8IordDELMAkGBSsOAwIaBQAwggHlBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECOTNHfnoAlk2gIIBwKqJcG4sVbEb+Zj/b0NLdUAJkMmvDk5qt09G2fk0Q5uRlkp/xxcIoomu14/gmiZIy5wtcKvg6H3bkKXqYOZjt2BE35tAlPFUxuvVYcv9zxgWB60wwCoxUo1Co8+1Lj57qdsiZdELL0LAAt1fXnNNJUhN+0ZypQFwv/pmen08BDcRYw8CyWmF/EQGcRsKpdeS0oNQiyQKoSkY04d9MmIdwe80cAye1ceEwWTozGxsrLnUBoIj/YnHA0TzS11Zmr+ChTebNKDzx5jshRNFBaiwpIfeMKsPYAz4NwKibIVvRJ8ICxrkNRq3NgB4ujEMlOMuDD3MqXh6hn9ZKTWPYspvuVngDuchaL9BnPkXwxUsInk+wtSr9rohfqu1jQnEwayGBm4Qa0Rr2szfQF65Y8bAe8125KGCQ2dvQR0UaRdesWib5cjNL5N9m/FCc6MUIlxNhds/dczq0WCn4N2zVRkzIFcBNr/pVwa71wb8MrPqQBGbkTXkZycYRLNz8fLbayVJ7NPPGpI/HIisLWMz/BsmdOtMY13bt7V72cEprjmFZ31eCuFPYxWVcg4EvKsBbFyR0zGrfuEcJZpuRP6xJMuKnu+gggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNTA5MzAxMzU4MTZaMCMGCSqGSIb3DQEJBDEWBBT3XXWlPEiUS/vc0a/1SZEuoZCP4jANBgkqhkiG9w0BAQEFAASBgK6+ybKeO5BizafjGpA/7m9J9BDsvCdm3G8Sex/xW8Hli1jm8nSa+9S2u1xVYlApRGag/5hZ7G8URsqYOIdpeSW4l5utVMkfTw/UEdGmC/PyNl5k4lWg22PruQfw5ftzNDz3mRbos3r37bYN5I+3clHAdWXEQGvi3v2z1pYrSuIp-----END PKCS7-----
">
            <input type="image" src="https://www.paypalobjects.com/pt_BR/BR/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>  
        </div>
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="/js/jquery-1.11.1.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/js/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/sb-admin-2.js"></script>

<script>
    function changePicture(){
        $('#upload').click();
    }
    function readURL(input)
    {
        if (input.files && input.files[0])
        {
            var reader = new FileReader();
            reader.onload = function (e)
            {
                $('#image')
                .attr('src',e.target.result);

            };
            reader.readAsDataURL(input.files[0]);
        }
    }



</script>

</body>

</html>