<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Alterar Pedido</h1>
        </div>
        <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <form role="form" ng-submit="editar()">

            <div class="form-group col-lg-8 col-md-8">
                <div class="col-md-9 form-group"    >
                    <label>Rua</label>
                    <input class="form-control" ng-model="editdata.rua" placeholder="Nome da Rua"
                           required ng-value="pedService.selected.endereco_entrega.rua">
                </div>

                <div class="col-md-3 form-group">
                    <label>Número</label>
                    <input class="form-control" ng-model="editdata.numero" placeholder="Número da casa"
                           required ng-value="pedService.selected.endereco_entrega.numero">
                </div>

                <div class="col-md-4 form-group">
                    <label>Bairro</label>
                    <input class="form-control" ng-model="editdata.bairro" placeholder="Bairro"
                           required ng-value="pedService.selected.endereco_entrega.bairro">
                </div>

                <div class="col-md-4 form-group">
                    <label>Cidade</label>
                    <input class="form-control" ng-model="editdata.cidade" placeholder="Nome da cidade"
                           ng-value="pedService.selected.endereco_entrega.cidade">
                </div>

                <div class="col-md-4 form-group">
                    <label>Estado</label>
                    <input class="form-control" ng-model="editdata.estado" placeholder="Nome ou UF"
                           ng-value="pedService.selected.endereco_entrega.estado">
                </div>

                <hr style="width:100%; height:1px; background: #fff">

                <div class="col-md-12 form-group">
                    <div class="" style="margin-bottom: 20px;">
                        <label>Nome do Cliente</label>
                        <input class="form-control" ng-value="pedService.selected.nome_cliente"
                               ng-model="editdata.nome_cliente"
                               placeholder="Nome do cliente" required>
                    </div>
                    <div class="">
                    <label>Entregador</label>
                        <select class="form-control" ng-model="editdata.id_entregador">
                            <option value="{{null}}"></option>
                            <option ng-repeat="entregador in entService.entregadores"
                                    value="{{entregador._id}}"
                                    ng-selected="pedService.selected.entregador != null &&
                                     pedService.selected.entregador._id == entregador._id" >
                                {{entregador.nome}}
                            </option>
                        </select>
                    </div>
                </div>
                <div style="text-align: center; margin-top: 8em">
                    <button type="submit" class="btn btn-success">Alterar Pedido</button>
                    <button type="reset" class="btn btn-default">Limpar</button>
                </div>
            </div>
        </form>
    </div>
</div>