<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Cadastrar Entregador</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <form role="form" method="POST" action="/empresa/entregador">

            <div class="form-group col-lg-5 col-md-6 col-sm-8">

                <div class="col-lg-12 form-group">
                    <label>Nome do Entregador</label>
                    <input class="form-control" required name="nome_entregador" placeholder="Nome do entregador">
                </div>

                <div class="col-lg-12 form-group">
                    <label>Nº do Entregador</label>
                    <input class="form-control" required name="telefone_entregador" placeholder="Telefone do entregador">
                </div>

                <div style="text-align: center; margin-top: 6em">
                    <button type="submit" class="btn btn-success">Cadastrar</button>
                    <button type="reset" class="btn btn-default">Limpar</button>
                </div>
            </div>

        </form>
    </div>
</div>