<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Entregadores - {{empService.empresa.nome}}</h1>
        </div>
        <div class="table-responsive" style="float: left; width: 100%;">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Telefone
                    </th>
                    <th>
                        Possui Geeps
                    </th>
                    <th class="col-xs-1" style="text-align: center">
                        Opções
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="entregador in entService.entregadores">
                        <td>{{entregador.nome}}</td>
                        <td> {{entregador.usuario.telefone}}</td>
                            <td ng-show="entregador.usuario.regId">SIM </td>
                            <td ng-show="!entregador.usuario.regId">NÃO</td>
                        <td style="text-align: center">
                            <button type="button" class="btn btn-success btn-circle"
                                    ng-click="edit(entregador)" title="Editar Entregador">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-circle"
                                    ng-click="delete(entregador)" title="Excluir Entregador">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>

                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>