<div id="page-wrapper">
    <div class="row">
        <div class="container-fluid container-max">
            <div class="col-sm-12 text-center">
                <div class="plan col-sm-3" ng-repeat="plan in plans"
                     ng-class="{plan_highlight: plan.id == empService.empresa.stripe.plan}">
                    <p ng-show="plan.id == empService.empresa.stripe.plan"
                       class="plan-recommended">Seu Plano Atual</p>
                    <h3 class="plan-title">{{plan.nome}}</h3>
                    <p class="plan-price">{{plan.preco}} <span class="plan-unit">por mês</span></p>
                    <ul class="plan-features" style="list-style-type: disc;">
                        <li ng-repeat="recurso in plan.recursos" class="plan-feature">
                            <span class="plan-feature-name">{{recurso}}</span>
                        </li>
                    </ul>
                    <a href="#" class="plan-button"
                       ng-class="{disabled: plan.id == empService.empresa.stripe.plan}"
                       ng-click="openCardModal(plan)">Escolher Plano</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>