<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Perfil da Empresa</h1>
        </div>
        <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
            <div class="form-group col-lg-8 col-md-10">

                <div class="col-md-5">
                    <a href="#" class="thumbnail">
                        <img src="{{empService.empresa.imgPath}}">
                    </a>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Nome da Empresa</label>
                        <span class="form-control-static">{{empService.empresa.nome}}</span>
                    </div>

                    <div class="form-group">
                        <label>Endereço de Email</label>
                        <span class="form-control-static">{{empService.empresa.email}}</span>
                    </div>
                </div>
                <hr style="width:100%; height:1px; background: #fff" />

                <div class="col-sm-6" style="">
                    <div class="form-group">
                        <label>Rua</label>
                        <span class="form-control-static">{{empService.empresa.endereco.rua}}</span>
                    </div>

                    <div class="form-group">
                        <label>Bairro</label>
                        <span class="form-control-static">{{empService.empresa.endereco.bairro}}</span>
                    </div>

                    <div class="form-group">
                        <label>Número</label>
                        <span class="form-control-static">{{empService.empresa.endereco.numero}}</span>
                    </div>
                </div>

                <div class="col-sm-6" style="text-align: left;">
                    <div class="form-group">
                        <label>Cidade</label>
                        <span class="form-control-static">{{empService.empresa.endereco.cidade}}</span>
                    </div>

                    <div class="form-group">
                        <label>Estado</label>
                        <span class="form-control-static">{{empService.empresa.endereco.estado}}</span>
                    </div>
                </div>

                <hr style="width:100%; height:1px; background: #fff" />
                <div style="margin-bottom: 20px;">
                    <a href="/empresa/editar" type="button" class="btn btn-warning" title="Editar Perfil">Editar Perfil</a>
                    <a href="#" ng-click="deletar()" class="btn btn-danger" title="Editar Perfil">Deletar Conta</a>
                    <a href="/empresa/pagamento" type="button" class="btn btn-primary" title="Editar Perfil">Alterar Plano</a>
                </div>
            </div>

    </div>
</div>
