<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="login-panel panel panel-default" style="margin-top: 20px !important;">
            <div class="panel-heading"> Registrar</div>
            <div class="panel-body">
                <div class="alert alert-warning text-center" style="clear: both;"
                     ng-show="error" role="alert">
                    {{error}}
                </div>
                <form class="form-horizontal" ng-submit="submitRegister()" enctype="multipart/form-data" novalidate>
                    <!--input type="hidden" name="_token" value="X28xMcHBfbGnSeYjXkt4EjSBwuIw66J9NMweh9uD"-->

                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            Nome da Empresa
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" ng-model="registerdata.name"  >
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            Rua
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" ng-model="registerdata.street" >
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            Número
                        </label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" ng-model="registerdata.num" >
                        </div>

                        <label class="col-md-1 control-label">
                            Bairro
                        </label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" ng-model="registerdata.neighborhood" >
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            Cidade
                        </label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" ng-model="registerdata.city" >
                        </div>

                        <label class="col-md-1 control-label">
                            Estado
                        </label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" ng-model="registerdata.state" >
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            Endereço de Email
                        </label>
                        <div class="col-md-6">
                            <input  type="email" class="form-control" ng-model="registerdata.email" >
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            Senha                            </label>
                        <div class="col-md-6">
                            <input type="password" class="form-control" ng-model="registerdata.password">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            Confirmar Senha
                        </label>
                        <div class="col-md-6">
                            <input type="password" class="form-control" ng-model="registerdata.password_confirmation">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-4">
                            <button type="submit" class="btn btn-success">
                                Registrar
                            </button>
                            <button type="reset" class="btn btn-default">
                                Limpar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
