<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="login-panel panel panel-default" style="margin-top: 20px !important;">
            <div class="panel-heading"> Registrar</div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" method="POST"
                      enctype="multipart/form-data" action="/auth/register/" >
                    <!--input type="hidden" name="_token" value="X28xMcHBfbGnSeYjXkt4EjSBwuIw66J9NMweh9uD"-->

                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            Nome da Empresa
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="name" >
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            Icone da Empresa
                        </label>
                        <div class="col-md-6">
                            <input type="file" class="form-control" name="image" >
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            Rua
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="street" >
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            Número
                        </label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" name="num" >
                        </div>

                        <label class="col-md-1 control-label">
                            Bairro
                        </label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="neighborhood" >
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            Cidade
                        </label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="city" >
                        </div>

                        <label class="col-md-1 control-label">
                            Estado
                        </label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" name="state" >
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            Endereço de Email
                        </label>
                        <div class="col-md-6">
                            <input  type="email" class="form-control" name="email" >
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            Senha                            </label>
                        <div class="col-md-6">
                            <input type="password" class="form-control" name="password">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            Confirmar Senha
                        </label>
                        <div class="col-md-6">
                            <input type="password" class="form-control" name="password_confirmation">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-4">
                            <button type="submit" class="btn btn-success">
                                Registrar
                            </button>
                            <button type="reset" class="btn btn-default">
                                Limpar
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
