<html>

<head>

    <body>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Relatórios</h1>
                </div>
                <div class="col-lg-12">
                    <div google-chart chart="chartObject" style="height:600px; width:100%;"></div>
                    <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series">
                    </canvas>
                    <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels">
                    </canvas </div>
                </div>
            </div>
    </body>
</head>

</html>
